/* Estilos para el botón de contacto */
.contact-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.contact-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.contact-button a:hover {
    text-decoration: underline;
}
